body {
	min-width: 1122px;
	max-height: 1750px;
	margin: 0;
	padding: 0;
	color: white;
}

body {
	background: #000000 url("../img/barbershop_bg.png") no-repeat 50% 3px;
	box-sizing: 1122px auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	margin-bottom: 60px;
}

.main-navigation {
	float: left;
	width: 780px;
	min-height: 70px;
}

.user-block {
	float: right;
	width: 140px;

	/*tempo*/
	min-height: 70px;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

.features {
	margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.features-item:last-child {
	margin-right: 0;
}

.index-content {
	padding: 50px 80px;
}

.index-content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}

.index-content-right {
	float: right;
	width: 300px;
	min-height: 330px;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	margin-right: 60px;
	/*only for display layout*/
	min-height: 90px;
}

.footer-social {
	float: left;
	/*only for display layout*/
	min-height: 90px;
}

.footer-copyright {
	float: right;
	/*only for display layout*/
	min-height: 90px;
}